body{
	position: relative;
	padding: 0px;
	margin: 0px;
}

.con{
	position:fixed;
	width: 100%;
	height: 100%;
	background-image: url(cat1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.frame{
	position: relative;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	background-image: url(cat1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotate(1deg);
	transition-delay: s;
	padding: 0%
}
.frame:hover{
	width: 10%; 
	height:10%;
}
